PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/divina_comedia_mvp
JWT_SECRET=troque-este-segredo-em-producao
JWT_EXPIRES_IN=8h
ADMIN_EMAIL=admin@divinacomedia.local
ADMIN_PASSWORD=admin123
FRONTEND_ORIGIN=http://localhost:5173
